body {
    text-align: center;
  }
  .dropdown-item {
    color: #537fe7;
  }
  .navbar-brand {
    margin-left: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    color: white;
  }
  .nav-link {
    color: white;
  }
  h1 {
    text-align: left;
    line-height: 4rem;
    padding-top: 10%;
    margin-left: 9%;
  }
  #title {
    background-color: pink;
    text-align: right;
    padding-right: 0%;
  }
  
  .title-image {
    width: 100%;
  }
  #image-cards {
    padding-top: 3%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .sec-2 {
    background-color: aliceblue;
  }
  h2 {
    padding-top: 5%;
  }
  .card {
    width: 20rem;
    margin: 5% auto;
  }
  .card-img-top {
    width: 19.9rem;
    height: 13rem;
  }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
    transition-duration: 60ms;
  }
  #footer {
    margin: 3%;
  }
  .fa-footer {
    margin: 1rem;
    text-decoration: none;
  }
  .fa-footer:hover {
    transform: scale(1.9);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
    transition-duration: 120ms;
  }
  