<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap file -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    />
    <!-- css file -->
    <link rel="stylesheet" href="/static/css/diabetes.css" />
    <!-- FONT-AWESOME-FILE -->
    <script
      src="https://kit.fontawesome.com/61bfe18a64.js"
      crossorigin="anonymous"
    ></script>
    <title>Diabetes</title>
    <!-- bootstrap javascript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section id="title">
      <!-- Nav Bar -->
      <nav
        class="navbar navbar-expand-lg bg-info"
        style="width: 100%; padding-left: 5%; padding-right: 5%"
      >
        <a
          class="navbar-brand ms-auto"
          href="/"
          style="display: flex; align-items: center; color: white"
        >
          <img
            src="/static/images/healthcare.gif"
            width="60"
            height="50"
            class="d-inline-block align-text-top"
            style="margin-right: 0.7rem"
          />
          Healthipedia</a
        >
        <button
          class="navbar-toggler ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" style="color: white" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white" href="/appointment"
                >Appointment</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white" href="#footer"
                >Contact Us</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </section>
    <br />

    <h1 class="ms-auto me-auto">Diabetes Prediction</h1>
    <br />

    <div class="card container-fluid ms-auto me-auto">
      <h4 class="card-header">Patient Data</h4>
      <form action="/diabetes/result" class="form" id="main-form">
        <br />
        <br />
        <label class="" for="pregnancies">Pregnancies :</label>
        <input
          class=" "
          type="number"
          name="pregnancies"
          placeholder="(numbers)"
        />
        <br />
        <br />
        <label class="  " for="glucose ">Glucose :</label>
        <input class=" " type="text" name="glucose" placeholder="(mg/dL)" />
        <br />
        <br />
        <label class="  " for="diastolicBloodPressure"
          >Diastolic Blood Pressure :</label
        >
        <input
          class="  "
          type="text"
          name="diastolicBloodPressure"
          placeholder="(mm/Hg)"
        />
        <br />
        <br />
        <label for="skinThickness">Skin Thickness :</label>
        <input type="text" name="skinThickness" placeholder="(mm)" />
        <br />
        <br />
        <label for="insulin">Insulin :</label>
        <input type="text" name="insulin" placeholder="(mlU/L)" />
        <br />
        <br />
        <label for="bodyMassIndex">Body Mass Index :</label>
        <input type="text" name="bodyMassIndex" placeholder="(decimal)" />
        <br />
        <br />
        <label for="DiabetesPedigreeFunction"
          >Diabetes Pedigree Function :</label
        >
        <input
          type="text"
          name="DiabetesPedigreeFunction"
          placeholder="(decimal)"
        />
        <br />
        <br />
        <label class="" for="age">Age :</label>
        <input class="" type="text" name="age" placeholder="(in years)" />
        <br />
        <br />
        <center>
          <button class="btn btn-success ayasha">submit</button>
          <button class="btn btn-danger">Reset</button>
        </center>
      </form>
      <br />
    </div>

    <br />
  </body>
  <footer id="footer" style="margin: 3rem auto">
    <a
      class="fa-brands fa-twitter fa-footer"
      style="margin: 0.7rem; text-decoration: none"
    ></a>
    <a
      class="fa-brands fa-facebook fa-footer"
      style="margin: 0.7rem; text-decoration: none"
    ></a>
    <a
      class="fa-brands fa-instagram fa-footer"
      style="margin: 0.7rem; text-decoration: none"
    ></a>
    <a
      class="fa-solid fa-envelope fa-footer"
      style="margin: 0.7rem; text-decoration: none"
    ></a>

    <p style="color: grey">© Copyright Healthipedia</p>
  </footer>
  <script>
    document.getElementById("main-form").addEventListener("submit", (e) => {
       e.preventDefault();
       var datapoint = [];
       for(var input of document.getElementById("main-form").querySelectorAll("[name]")) {
        datapoint.push(input.value);
       }
       window.location.href = "/diabetes/result?data="+encodeURIComponent(datapoint.join(","));
    });
  </script>
</html>
