<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script
      src="https://kit.fontawesome.com/61bfe18a64.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Montserrat:wght@400;900&family=Raleway&family=Sacramento&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <title>Healthipedia</title>
    <link href="/static/css/heart-disease.css" rel="stylesheet" />
  </head>
  <body>
    <section>
      <nav class="navbar navbar-expand-lg bg-info">
        <div class="container-fluid bar-clr">
          <a
            class="navbar-brand"
            href="/"
            style="display: flex; align-items: center"
          >
            <img
              src="/static/images/healthcare.gif"
              alt="Logo"
              width="60"
              height="50"
              class="d-inline-block align-text-top"
              style="margin-right: 7%"
            />
            Healthipedia
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Appointment </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#footer">Contact Us</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Disease
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#Alzheimer">Alzheimer</a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#breastCancer"
                      >Breast Cancer</a
                    >
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#brainTumar">Brain Tumar</a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#bmiCalculator"
                      >BMI Calculator</a
                    >
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#covid-19"> Covid-19</a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#diabetes">Diabetes</a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#glaucoma">Glaucoma</a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#heartDisease"
                      >Heart Disease</a
                    >
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#kidneyTumar"
                      >Kidney Tumar</a
                    >
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#liverDisease"
                      >Liver Disease</a
                    >
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#malaria">Malaria</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <form class="d-flex nav-margin" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="know your disease.."
              aria-label="Search"
            />
            <button class="btn btn-outline-light" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </div>
      </nav>
    </section>

    <section id="main-content">
      <h1 class="main-heading">Heart-Disease Prediction</h1>
      <form method="GET" action="/heart-disease/result" id="main-form">
        <div class="blocking row">
          <label class="col-lg-6 col-md-12">Age : </label>
          <input
            class="col-lg-6 age-input"
            name="age"
            type="text"
            placeholder="Enter your age here.."
          />
        </div>

        <div class="blocking row">
          <label class="col-lg-6">Gender : </label>
          <select class="selection col-lg-6" name="gender">
            <option value="">Select Any :</option>
            <option value="0" id="female">Female</option>
            <option value="1" id="male">Male</option>
            <option value="transgender" id="transgender">Transgender</option>
          </select>
        </div>
        
        <div class="blocking row">
          <label class="col-lg-6">Chest pain Type : </label>
          <select class="selection col-lg-6" name="chestpain">
            <option value="">Select Any :</option>
            <option value="1">1 typical type 1</option>
            <option value="2">2 typical type 2 angina</option>
            <option value="3">3 non angina pain</option>
            <option value="4">4 asymptomatic</option>
          </select>
        </div>

        <div class="blocking row">
          <label class="col-lg-6">Resting Blood Pressure : </label
          ><input
            class="col-lg-6"
            type="text"
            name="bp"
            placeholder="Continuous value in mmHg"
          />
        </div>

        <div class="blocking row">
          <label class="col-lg-6">Serum Cholestrol : </label
          ><input
            class="col-lg-6"
            type="text"
            name="cholestrol"
            placeholder="Continuous value in mm/dL"
          />
        </div>

        <div class="blocking row">
          <label class="col-lg-6">Fasting Blood Sugar : </label
          ><input
            class="col-lg-6"
            type="text"
            placeholder="in mg/dL"
            name="bloodsugar"
          />
        </div>

        <div class="blocking row">
          <label class="col-lg-6">Resting Electrographic Result : </label>
          <select class="selection col-lg-6" name="electrographic">
            <option value="">Select Any :</option>
            <option value="0">0 - Normal</option>
            <option value="1">1- having ST-T abnormal</option>
            <option value="2">2- left ventricular hypertrophy</option>
          </select>
        </div>
        
        <div class="blocking row">
          <label class="col-lg-6">Maximum Heart Rate achieved : </label
          ><input
            class="col-lg-6"
            type="text"
            placeholder="Continuous Value"
            name="heartrate"
          />
        </div>

        <div class="blocking row obesity">
          <label class="col-lg-6">Excersise Induced Angina : </label>
          <input type="radio" name="choose" value="1" id="Yes" /><label
            >Yes</label
          ><br />
          <input type="radio" name="choose" value="0" id="No" /><label
            >No</label
          >
        </div>

        <div class="blocking row">
          <label class="col-lg-6"
            >ST Depression : </label
          ><input
            class="col-lg-6"
            type="text"
            placeholder="value between 0-3"
            name="st_depression"
          />
        </div>

        <div class="blocking row">
          <label class="col-lg-6"
            >Heart rate slope : </label
          ><input
            class="col-lg-6"
            type="text"
            placeholder=""
            name="st_slop"
          />
        </div>

        <div class="blocking row">
          <label class="col-lg-6"
            >Number of Major Vessels colored by fluoroscopy : </label
          ><input
            class="col-lg-6"
            type="text"
            placeholder=""
            name="thal"
          />
        </div>
        <input
          type="submit"
          class="btn btn-lg btn-outline-dark submit-button"
        />
      </form>
      <button class="btn btn-lg btn-warning reset-button">Reset</button>
    </section>
    <footer id="footer" style="margin: 3rem auto">
      <a
        class="fa-brands fa-twitter fa-footer"
        style="margin: 0.7rem; text-decoration: none"
      ></a>
      <a
        class="fa-brands fa-facebook fa-footer"
        style="margin: 0.7rem; text-decoration: none"
      ></a>
      <a
        class="fa-brands fa-instagram fa-footer"
        style="margin: 0.7rem; text-decoration: none"
      ></a>
      <a
        class="fa-solid fa-envelope fa-footer"
        style="margin: 0.7rem; text-decoration: none"
      ></a>
      <p style="color: grey">© Copyright Healthipedia</p>
    </footer>
    <script>
      document.getElementById("main-form").addEventListener("submit", (e) => {
         e.preventDefault();
         var datapoint = [];
         for(var input of document.getElementById("main-form").querySelectorAll("[name]")) {
          datapoint.push(input.value);
         }
         window.location.href = "/heart-disease/result?data="+encodeURIComponent(datapoint.join(","));
      });
    </script>
  </body>
</html>
